/* HOME SECTION */
#home {
	padding-top: 85px;
	background-color: #f0f0f0;
}
/* ABOUT SECTION */
#about {
	padding-top: 45px;
	background-color: #f0f0f0;
}
/* CONTACT SECTION*/
#contact {
	padding-top: 25px;
	background-color: #333333;
}
#contact h1 {
	color: #ffffff;
}
#contact p {
	color: #ffffff;
}
/* SANTA CRUZ IMAGE SECTION */
#santa-cruz { 
	background: url(../images/santa-cruz.jpg) 0% fixed; 
	background-size: cover;
	background-repeat:no-repeat;
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	padding: 250px 0;
}
/* YOSEMITE IMAGE SECTION*/
#yosemite { 
	background: url(../images/yosemite.jpg) 0% fixed; 
	background-size: cover;
	background-repeat:no-repeat;
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	padding: 220px 0;
}
/* HEADSHOT PROPERTIES */
#headshot {
	/*float: left; */
	background-size: contains;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}
h1 {
	white-space:nowrap;
}